.username {
    color: white;
    margin-left: 5px;
}
.info{
    display: flex;
    padding: 5px 16px;
    border-bottom: 1px solid rgba(82,38,83);
}
.userstatus{
    position: relative;
    left: 18px;
    bottom: 10px;
}
.online {
    background: #34eb52;
}
.offline {
    background: var(--color-5);
}
.button{
    margin-right: 7px;
}
.button_signout{
    margin-left: 26px;
    margin-right: 7px;
}